.modal-content {
    width: 50%;
    margin-left:25%;
  }

.btn-login{
    width: 98%;
    border: 1px solid #ff9191;
    background-color: white;
    padding: 8px 0;
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}  

.btn-login:hover{
    background-color: #fcf3f3;
}

.sp1{
    font-size: 13px;
}

.sp1 span{
    color: blue;
}

